.Time {
    padding-right: 100px;
    cursor: pointer;
}

.Time p {
    margin: 0;
}

.time-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #08090a;
    font-size: 18px;
}